body{
    font-family: Poppins;
    background-color: rgba(30, 37, 43, 1);
}
.conteiner{
    width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
h1,h2,h3,h4,h5,h6,html,main,body,p,ol,ul,li{
    margin: 0;
    padding: 0;
}

/* ---------------------------HEADER------------------------- */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
}
.title{
    color: rgba(255, 255, 255, 0.9);
font-size: 22px;
font-weight: 600;
line-height: 33px;
text-align: left;

}
.header-nav{}
.nav-list{
    display: flex;
    gap: 50px;
}
.nav-item{
    color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

}
.nav-link{}
.header-list{
    display: flex;
    gap: 50px;
}
.list-item{
    color: rgba(255, 255, 255, 0.78);
    padding-top: 15px;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;

}
.item-link{}
.span1{
    color: rgba(253, 245, 255, 1);
    font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;

}
.nav-button{
    background-color: rgba(255, 110, 48, 1);
    padding: 12px 28px;
    border-radius: 8px;
}
/* ----------------------------MAIN---------------------------- */
.main{
    padding-top: 110px;
    padding-bottom: 240px;
}
.hero{
    color: rgba(255, 255, 255, 0.9);
font-size: 50px;
font-weight: 500;
line-height: 70px;
text-align: left;

}
.span0{
 color: rgba(255, 110, 48, 1);
font-size: 50px;
font-weight: 500;
line-height: 70px;
text-align: left;
}
.hero-text{
    color: rgba(255, 255, 255, 0.55);
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}
input{
    background-color: rgba(40, 48, 54, 1);
    padding: 21px 253px 21px 55px;
    border-radius: 15px;
}
.form{
    padding-top: 60px;
}
.span2{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
}
.form-button{
    background-color: rgba(255, 110, 48, 1);
    border-radius: 8px;
    padding:12px 36px ;
    margin-left: -150px;
}
/* ==============================programs======================= */
.programs{
    padding-top: 368px;
}
.programs-title{
    color: rgba(255, 255, 255, 0.9);
font-size: 48px;
font-weight: 500;
line-height: 62.4px;
text-align: center;

}
.programs-text{
    color: rgba(255, 255, 255, 0.55);
    padding-top: 25px;
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: center;

}
.programs-list{
    padding-top: 90px;
    flex-wrap: wrap;
    display: flex;
    gap: 90px;
}
.programs-item{}
.programs-img{}
.programs-subtitle{
    color: rgba(255, 255, 255, 0.78);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    
}
.programs-value{
    color: rgba(255, 165, 55, 0.55);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    
}
.text-programs{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.programs-button{
    background-color: rgba(30, 37, 43, 1);
}
.span3{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
.span4{
    color: rgba(255, 110, 48, 1);
    font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;
}
.many-button{
background-color: rgba(30, 37, 43, 1);
display: flex;
justify-content: center;
align-items: center;
width: 184px;
height: 64px;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.1);
margin-top: 100px;

}

/* ============================version===================== */
.version{
    width: 1224px;
    height: 253px;
    top: 2209px;
    left: 108px;
    border-radius: 25px;
    background-image: url(./img/Rectangle308.png);
}
.version-title{
    color: rgba(255, 255, 255, 0.8);
    padding-top: 55px;
display: flex;
justify-content: center;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;

}
.version-list{}
.version-item{
    padding-top: 55px;
    display: flex;
    justify-content: center;
    gap: 107px;
}
.version-img{
}
/* =============================tools==================== */
.tools{}
.tools-title{
    padding-top: 220px;
    color: rgba(255, 255, 255, 0.9);
font-size: 48px;
font-weight: 500;
line-height: 62.4px;
text-align: left;

}
.tools-text{
    color: rgba(255, 255, 255, 0.55);
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: left;
padding-bottom: 60px;

}
.tools-butoon-main{
    
background-color: rgba(255, 110, 48, 1);
width: 198px;
height: 58px;
border-radius: 8px;
}
.span5{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
}
.tools-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border-radius: 15px;
}
.tools-item{
    width: calc((70% - 2 * 24px) / 2);
}
.tools-img{
align-self: start;
}
.tools-subtitle{
    color: rgba(255, 255, 255, 0.78);
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;

}
.tools-value{
    color: rgba(255, 165, 55, 0.55);
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;

}
.tools-subtext{
    color: rgba(255, 255, 255, 0.55);
font-size: 14px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.main-button{
    background-color: rgba(30, 37, 43, 1);
}
.span6{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
/* ===========================people============================= */
.people{
    padding-top: 100px;
    display: flex;
}
.people-title{
    color: rgba(255, 253, 253, 0.78);
font-size: 26px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0.015em;
text-align: left;

}
.text-peple{
    color: rgba(255, 253, 253, 0.55);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.people-img{}
.people-text{
    color: rgba(255, 255, 255, 0.78);
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.015em;
text-align: left;

}
/* ======================contributor==================== */
.contributor{

}
.contributor-title{
    color: rgba(255, 255, 255, 0.9);
    padding-top: 263px;
font-size: 48px;
font-weight: 500;
line-height: 62.4px;
text-align: center;

}
.contributor-text{
    color: rgba(255, 255, 255, 0.55);
font-size: 18px;
font-weight: 500;
line-height: 30px;
text-align: center;
}
.contributor-form{
    padding-top: 100px;
    margin: 0 446px;
}
.contributor-button{
background-color: rgba(255, 110, 48, 1);
border-radius: 8px;
padding:12px 36px ;
margin-left: -150px;
}
.span7{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left; 
}
/* --------------------------FOOTER----------------------------- */
.footer {
    padding-top: 70px;
}
hr{
    border: 0.5px solid rgba(255, 255, 255, 0.15)
}
.footer-list{
    display: flex;
    gap: 156px;
}
.footer-item{

}
.footer-title{
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 27px;
font-size: 22px;
font-weight: 600;
line-height: 33px;
text-align: left;
}
.Antools-title{
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 21px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.footer-subtitle{
    padding-bottom: 20px;
}
.footer-subtitle{
    color: rgba(255, 255, 255, 0.9);
}
.footer-subtext{
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    padding-bottom: 98px;
}
.footer-text{
    color: rgba(255, 255, 255, 0.55);
    padding-bottom: 10px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

}